<span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-slate-300/50">
  <div class="w-2 h-2 bg-red-400 rounded-full mr-1"></div>
  Badge
</span>