---
const {id, title, description, image:imageUrl, publish_date:date} = Astro.props
---

<a href=`/blog/${id}` class="group">
  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2">
    <img src={imageUrl} alt="Person using a pen to cross a task off a productivity paper card." class="h-full w-full object-cover object-center group-hover:opacity-75">
  </div>
  <div class="mt-4 flex items-center justify-between text-base font-medium">
    <h3>{title}</h3>
    <p>{new Date(date.seconds*1000).toDateString()}</p>
  </div>
  <p class="mt-1 text-sm italic text-gray-500">{description}</p>
</a>