---
const {id, description, files,html_url} = Astro.props
import { Icon } from "astro-icon/components"
import { fade } from "astro:transitions"
---

<li class="rounded-2xl bg-gray-800 px-8 py-10">
  <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight min-h-16">{description}</h3>
  <ul role="list" class="mt-6 flex justify-center gap-x-6">
    {Object.keys(files).map((file) => (
      <a href={files[file].raw_url} target="_blank">
        <li>
        {files[file].filename}
      </li>
      </a>
    ))}
    <li>
      <a href={html_url} target="_blank" class="text-gray-400 hover:text-gray-300">
        <Icon name="social/github" class="h-5 w-5" />
      </a>
    </li>
  </ul>
</li>