---
import Logos from "../../assets/logos/index.js"
---

<div class="pt-24 sm:pt-32 rounded-md">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h1 class="text-center text-3xl font-semibold leading-8 text-white uppercase">Brands & Companies I have worked with</h1>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {Logos.map((logo) => (
        <a href={logo.url} target="_blank" rel="noopener noreferrer" class="col-span-2 max-h-12 w-full object-contain lg:col-span-1">
          <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={logo.src} alt={logo.alt} width="158" height="48">
        </a>
      ))}
    </div>
  </div>
</div>
