---
import { Icon } from "astro-icon/components";
---

<div class="p-4 text-white">
  <h2 class="text-lg font-bold leading-8">Connect With Me</h2>
  <div class="flex space-x-1 text-indigo-600 group">
    <a class=" hover:scale-150 group-hover:hover:text-indigo-600 group-hover:text-slate-600"><Icon class="inline-block h-8 w-8 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" name="social/linkedin"></Icon></a>
    <a class=" hover:scale-150 group-hover:hover:text-indigo-600 group-hover:text-slate-600"><Icon class="inline-block h-8 w-8 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" name="social/facebook"></Icon></a>
    <a class=" hover:scale-150 group-hover:hover:text-indigo-600 group-hover:text-slate-600"><Icon class="inline-block h-8 w-8 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" name="social/instagram"></Icon></a>
    <a class=" hover:scale-150 group-hover:hover:text-indigo-600 group-hover:text-slate-600"><Icon class="inline-block h-8 w-8 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" name="social/github"></Icon></a>
    <a class=" hover:scale-150 group-hover:hover:text-indigo-600 group-hover:text-slate-600"><Icon class="inline-block h-8 w-8 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" name="social/discord"></Icon></a>
    <a class=" hover:scale-150 group-hover:hover:text-indigo-600 group-hover:text-slate-600"><Icon class="inline-block h-8 w-8 rounded-md drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" name="social/x"></Icon></a>
  </div>
</div>
